 import libraries

  import pickle 
 *  *pickle module implements binary protocols for serializing and de-serializing a* 
    *python object structure. ‚Äúpickling‚Äù is the process whereby a python object hierarchy is*
    *converted into a byte stream*

In [1]:
import pandas as p
import numpy as np
import pickle
import emoji

 let's load some data!

In [2]:
df=p.read_csv('five_bedroom_zhiv.csv')
df.head(3)

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,2000-01-31,...,2021-11-30,2021-12-31,2022-01-31,2022-02-28,2022-03-31,2022-04-30,2022-05-31,2022-06-30,2022-07-31,2022-08-31
0,91940,0,77449,zip,TX,TX,NaN,"Houston-The Woodlands-Sugar Land, TX",Harris County,144867.0,...,304294.0,309317.0,314306.0,319449.0,325520.0,332583.0,340438.0,346942.0,351436.0,353866.0
1,91982,1,77494,zip,TX,TX,NaN,"Houston-The Woodlands-Sugar Land, TX",Fort Bend County,309107.0,...,598639.0,605575.0,613120.0,625859.0,641540.0,660969.0,676713.0,686527.0,688086.0,684677.0
2,93144,2,79936,zip,TX,TX,El Paso,"El Paso, TX",El Paso County,188400.0,...,344460.0,346993.0,350908.0,355780.0,360515.0,367114.0,373956.0,380715.0,385174.0,387525.0

 export metaData w pickles  ü•í 

*  removing region data- iloc[:, 0:9]
*  check column (cols)
*     import os.mkdir()
   *  *mkdir is used for creating or making a new directory*
*     dump metaData
  *  'wb' for writing binary file. 
  *  'fp' file pointer

In [3]:
meta = df.iloc[:, 0:9]

In [4]:
meta.columns

Index(['RegionID', 'SizeRank', 'RegionName', 'RegionType', 'StateName',
       'State', 'City', 'Metro', 'CountyName'],
      dtype='object')

In [5]:
#import os
#os.mkdir('pickle')

In [6]:
with open('pickle/meta_land_park_five_bedroom.pkl', 'wb') as fp:
    pickle.dump(meta, fp)

 subsetting 
*  creating sac (sacramento) dataFrame
*  get list
*  remove col RegionName
*  drop cols (columns)

In [7]:
subset = df[df["RegionName"].isin([95624,95630,95818,95819])]

In [8]:
meta_cols = list(df.columns[0:9])

In [9]:
meta_cols.remove('RegionName')

In [10]:
subset = subset.drop(meta_cols, axis = 1)

 examine data

In [11]:
subset.shape

(4, 273)

In [12]:
subset.head(5)

,RegionName,2000-01-31,2000-02-29,2000-03-31,2000-04-30,2000-05-31,2000-06-30,2000-07-31,2000-08-31,2000-09-30,...,2021-11-30,2021-12-31,2022-01-31,2022-02-28,2022-03-31,2022-04-30,2022-05-31,2022-06-30,2022-07-31,2022-08-31
95,95630,348238.0,349577.0,351199.0,354037.0,357528.0,360617.0,365232.0,368961.0,373433.0,...,995908.0,999957.0,1015597.0,1031689.0,1047843.0,1061367.0,1075306.0,1086665.0,1087806.0,1069922.0
255,95624,239287.0,240279.0,241601.0,243729.0,245949.0,248363.0,250959.0,253741.0,256325.0,...,726830.0,734117.0,747478.0,760560.0,772249.0,781733.0,791239.0,798696.0,798795.0,788007.0
5343,95818,194506.0,196055.0,197607.0,200047.0,202376.0,202933.0,206037.0,209308.0,214076.0,...,1221293.0,1224653.0,1240460.0,1259573.0,1280311.0,1301152.0,1320879.0,1334213.0,1326517.0,1296456.0
5716,95819,138407.0,139184.0,140067.0,141140.0,142906.0,144435.0,146251.0,147122.0,149186.0,...,1251315.0,1253802.0,1271997.0,1296843.0,1322138.0,1345789.0,1363416.0,1377550.0,1367673.0,1334441.0

 nulls? if so, how many?

In [13]:
subset.isna().sum().sum()

1

 nulls? which columns?

 nulls? which rows?

In [14]:
subset[subset.isna().any(axis=1)]

,RegionName,2000-01-31,2000-02-29,2000-03-31,2000-04-30,2000-05-31,2000-06-30,2000-07-31,2000-08-31,2000-09-30,...,2021-11-30,2021-12-31,2022-01-31,2022-02-28,2022-03-31,2022-04-30,2022-05-31,2022-06-30,2022-07-31,2022-08-31
5716,95819,138407.0,139184.0,140067.0,141140.0,142906.0,144435.0,146251.0,147122.0,149186.0,...,1251315.0,1253802.0,1271997.0,1296843.0,1322138.0,1345789.0,1363416.0,1377550.0,1367673.0,1334441.0

In [15]:
subset.ffill(axis=0, inplace=True, limit=2)

 nulls. what do we have left?

In [16]:
subset.isna().sum().sum()

0

In [17]:
subset.head

<bound method NDFrame.head of       RegionName  2000-01-31  2000-02-29  2000-03-31  2000-04-30  2000-05-31  \
95         95630    348238.0    349577.0    351199.0    354037.0    357528.0
255        95624    239287.0    240279.0    241601.0    243729.0    245949.0
5343       95818    194506.0    196055.0    197607.0    200047.0    202376.0
5716       95819    138407.0    139184.0    140067.0    141140.0    142906.0

      2000-06-30  2000-07-31  2000-08-31  2000-09-30  ...  2021-11-30  \
95      360617.0    365232.0    368961.0    373433.0  ...    995908.0
255     248363.0    250959.0    253741.0    256325.0  ...    726830.0
5343    202933.0    206037.0    209308.0    214076.0  ...   1221293.0
5716    144435.0    146251.0    147122.0    149186.0  ...   1251315.0

      2021-12-31  2022-01-31  2022-02-28  2022-03-31  2022-04-30  2022-05-31  \
95      999957.0   1015597.0   1031689.0   1047843.0   1061367.0   1075306.0
255     734117.0    747478.0    760560.0    772249.0    781733.0    791239.0
5343   1224653.0   1240460.0   1259573.0   1280311.0   1301152.0   1320879.0
5716   1253802.0   1271997.0   1296843.0   1322138.0   1345789.0   1363416.0

      2022-06-30  2022-07-31  2022-08-31
95     1086665.0   1087806.0   1069922.0
255     798696.0    798795.0    788007.0
5343   1334213.0   1326517.0   1296456.0
5716   1377550.0   1367673.0   1334441.0

[4 rows x 273 columns]>

 calculate percent increase from yr to yr in sac
*  create df and define func (function)
*  create copy 
   *  copy() method creates a copy of an existing list

In [18]:
def calculate_percent_increase(x1, x2):
    return ((x2-x1)/x1)*100

In [19]:
subset_percent = subset.copy()
for i in range(subset_percent.shape[1]-1,1, -1):
    prior = subset_percent.iloc[:, i-1]
    current = subset_percent.iloc[:, i] 
    subset_percent.iloc[:, i] = calculate_percent_increase(prior, current)

In [20]:
subset_percent.head(4)

,RegionName,2000-01-31,2000-02-29,2000-03-31,2000-04-30,2000-05-31,2000-06-30,2000-07-31,2000-08-31,2000-09-30,...,2021-11-30,2021-12-31,2022-01-31,2022-02-28,2022-03-31,2022-04-30,2022-05-31,2022-06-30,2022-07-31,2022-08-31
95,95630,348238.0,0.384507,0.463989,0.808089,0.986055,0.863988,1.279751,1.020995,1.212052,...,0.626956,0.406564,1.564067,1.584487,1.565782,1.290651,1.313306,1.056350,0.105000,-1.644043
255,95624,239287.0,0.414565,0.550194,0.880791,0.910848,0.981504,1.045244,1.108548,1.018361,...,0.959548,1.002573,1.820010,1.750152,1.536894,1.228101,1.216016,0.942446,0.012395,-1.350534
5343,95818,194506.0,0.796376,0.791615,1.234774,1.164226,0.275230,1.529569,1.587579,2.277983,...,0.167316,0.275118,1.290733,1.540799,1.646431,1.627808,1.516118,1.009479,-0.576819,-2.266160
5716,95819,138407.0,0.561388,0.634412,0.766062,1.251240,1.069934,1.257313,0.595551,1.402917,...,-0.151132,0.198751,1.451186,1.953306,1.950506,1.788845,1.309789,1.036661,-0.716998,-2.429821

In [21]:
subset_percent.drop('2000-01-31' ,axis=1, inplace=True)

In [22]:
subset_percent.head()

,RegionName,2000-02-29,2000-03-31,2000-04-30,2000-05-31,2000-06-30,2000-07-31,2000-08-31,2000-09-30,2000-10-31,...,2021-11-30,2021-12-31,2022-01-31,2022-02-28,2022-03-31,2022-04-30,2022-05-31,2022-06-30,2022-07-31,2022-08-31
95,95630,0.384507,0.463989,0.808089,0.986055,0.863988,1.279751,1.020995,1.212052,1.098725,...,0.626956,0.406564,1.564067,1.584487,1.565782,1.290651,1.313306,1.056350,0.105000,-1.644043
255,95624,0.414565,0.550194,0.880791,0.910848,0.981504,1.045244,1.108548,1.018361,1.209402,...,0.959548,1.002573,1.820010,1.750152,1.536894,1.228101,1.216016,0.942446,0.012395,-1.350534
5343,95818,0.796376,0.791615,1.234774,1.164226,0.275230,1.529569,1.587579,2.277983,1.797492,...,0.167316,0.275118,1.290733,1.540799,1.646431,1.627808,1.516118,1.009479,-0.576819,-2.266160
5716,95819,0.561388,0.634412,0.766062,1.251240,1.069934,1.257313,0.595551,1.402917,2.048450,...,-0.151132,0.198751,1.451186,1.953306,1.950506,1.788845,1.309789,1.036661,-0.716998,-2.429821

 check df  percent increase

 transpose data
*  changing to wide format

In [23]:
subset_percent = subset_percent.set_index('RegionName').transpose()

In [24]:
subset = subset.set_index('RegionName').transpose()

In [25]:
subset_percent.head(4)

RegionName     95630     95624     95818     95819
2000-02-29  0.384507  0.414565  0.796376  0.561388
2000-03-31  0.463989  0.550194  0.791615  0.634412
2000-04-30  0.808089  0.880791  1.234774  0.766062
2000-05-31  0.986055  0.910848  1.164226  1.251240

In [26]:
subset.head(4)

RegionName     95630     95624     95818     95819
2000-01-31  348238.0  239287.0  194506.0  138407.0
2000-02-29  349577.0  240279.0  196055.0  139184.0
2000-03-31  351199.0  241601.0  197607.0  140067.0
2000-04-30  354037.0  243729.0  200047.0  141140.0

 Let's convert the index to datetime!

*  strftime() function is used to convert to Index using specified date_format.
*   columns.name=none- names the index, by default it is None or blank, the columns are of type IndexArray

In [27]:
subset_percent.index = p.DatetimeIndex(subset_percent.index)
subset_percent.index = subset_percent.index.strftime('%m/%Y')
subset_percent.columns.name = None

In [28]:
subset.index = p.DatetimeIndex(subset.index)
subset.index = subset.index.strftime('%m/%Y')
subset.columns.name = None

 exporting ü•í

In [29]:
with open('pickle/timeseries_land_park_five_bedroom_subset_percent.pkl', 'wb') as fp:
    pickle.dump(subset_percent, fp)

In [30]:
with open('pickle/timeseries_land_park_five_bedroom_subset.pkl', 'wb') as fp:
    pickle.dump(subset, fp)